body{
    background-color: #51A2FF;
    //background-image: url(RAHH.jpg);
    //background-repeat: no-repeat;
}

a:link{
    color: yellow;
}

a:visited{
    color: green;
}

h3{
    color: red;
    font-size: 24px;
}

