header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
  
article {
  float: center;
  padding: 20px;
  width: 100%;
  background-color: #FFD700;
  height: 520px;
}
