header {
  background-color: #666;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: white;
}
  
article {
  float: center;
  padding: 20px;
  width: 95%;
  background-color: #FFEEBC;
  height: 500px;
}


nav
