header {
  background-color: #666;
  padding: 15px;
  text-align: center;
  font-size: 35px;
  color: white;
}
  
article {
  float: center;
  padding: 20px;
  width: 97%;
  background-color: #FFEEBC;
  height: 460px;
}

body{
    text-align: center;
    font-family: 'Courier New', monospace;
}
